@import url("https://s3.amazonaws.com/dtheng.com/foundation.min.css");
@import url("https://s3.amazonaws.com/dtheng.com/normalize.css");

tint = #D22026
dark-tint = #b81c21
text = #183645

*
  -webkit-font-smoothing antialiased

.row
  &.wrapper
    max-width 650px

h1, h2, h3, h4, h5, h6, p
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  color text

a
  color tint
  text-decoration none
  font-weight 500

  &:hover, &:focus
    color dark-tint

    svg
      .foreground
        fill dark-tint

    span
      opacity 1

.links-group
  span
    width 100%
    text-align center
    display block
    margin-bottom 10px
    opacity 0
    transition opacity 200ms
    font-size 0.8rem
    letter-spacing 0.02rem

  .columns
    padding 0

img
  border-radius 100%
  padding 6px
  margin 60px 0 0 0
  @media (min-height 500px)
    margin 80px 0 0 0

  @media (min-height 600px)
    margin 90px 0 0 0

  @media (min-height 700px)
    margin 100 0 0 0

  @media (min-height 800px)
    margin 110px 0 0 0

  @media (min-height 900px)
    margin 120px 0 0 0

  @media (min-height 1000px)
    margin 130px 0 0 0

p
  font-size 0.95rem
  line-height 1.6rem
  margin 20px 0 30px 0

  @media (min-height 600px)
    margin 25px 0 40px 0

  @media (min-height 700px)
    margin 30px 0 60px 0

  @media (min-height 800px)
    margin 35px 0 80px 0

  @media (min-height 900px)
    margin 40px 0 100px 0

  @media (min-height 1000px)
    margin 45px 0 120px 0

svg
  margin 0 auto
  width 55px
  display block

  .foreground
    fill tint

.intro
  h1
    font-size 20px
    margin 30px 0 10px 0
    font-weight 500
    text-align center
    letter-spacing 0.02rem
