@import url("https://s3.amazonaws.com/dtheng.com/foundation.min.css");
@import url("https://s3.amazonaws.com/dtheng.com/normalize.css");

sf = #FF0000
sf-dark = #E50000

wyre = sf
wyre-dark = sf-dark

snapcard = sf
snapcard-dark = sf-dark

rixty = sf
rixty-dark = sf-dark

web = sf
web-dark = sf-dark

pdf = sf
pdf-dark = sf-dark

github = #0068FF
github-dark = #0066CC

angel = #2B00FF
angel-dark = #1C00E5

twitter = #CD00FF
twitter-dark = #B800E5

instagram = #FF0DA3
instagram-dark = #E50E9D

text = #183645

*
  -webkit-font-smoothing antialiased

.row
  &.wrapper
    max-width 750px

h1, h2, h3, h4, h5, h6, p
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  color text

a
  text-decoration none
  font-weight 600

  &.sf
    color sf

    &:hover, &:focus, &:visited
      color sf-dark

  &.wyre
    color wyre

    &:hover, &:focus, &:visited
      color wyre-dark

  &.snapcard
    color snapcard

    &:hover, &:focus, &:visited
      color snapcard-dark

  &.rixty
    color rixty

    &:hover, &:focus, &:visited
      color rixty-dark

  &.web
    color web

    &:hover, &:focus, &:visited
      color web-dark

  &.pdf
    color pdf

    &:hover, &:focus, &:visited
      color pdf-dark

  &.github
    color github
    svg
      .foreground
        fill github

    &:hover, &:focus, &:visited
      color github-dark
      svg
        .foreground
          fill github-dark

  &.angellist
    color angel
    svg
      .foreground
        fill angel

    &:hover, &:focus, &:visited
      color angel-dark
      svg
        .foreground
          fill angel-dark

  &.twitter
    color twitter
    svg
      .foreground
        fill twitter

    &:hover, &:focus, &:visited
      color twitter-dark
      svg
        .foreground
          fill twitter-dark

  &.instagram
    color instagram
    svg
      .foreground
        fill instagram

    &:hover, &:focus, &:visited
      color instagram-dark
      svg
        .foreground
          fill instagram-dark

  &:hover, &:focus
    span
      opacity 1

.links-group
  span
    width 100%
    text-align center
    display block
    margin-bottom 10px
    opacity 0
    transition opacity 200ms
    font-size 0.8rem
    letter-spacing 0.02rem

  .columns
    padding 0

img
  border-radius 100%
  padding 6px
  margin 40px 0 0 0
  transition margin 200ms
  padding 15px

  @media (min-height 500px)
    margin 60px 0 0 0

  @media (min-height 600px)
    margin 80px 0 0 0

  @media (min-height 700px)
    margin 110px 0 0 0

  @media (min-height 800px)
    margin 130px 0 0 0

  @media (min-height 900px)
    margin 150px 0 0 0

  @media (min-height 1000px)
    margin 180px 0 0 0

p
  font-size 0.95rem
  line-height 1.6rem
  margin 18px 0 30px 0
  transition margin 200ms

  @media (min-height 600px)
    margin 20px 0 40px 0

  @media (min-height 700px)
    margin 22px 0 60px 0

  @media (min-height 800px)
    margin 24px 0 100px 0

  @media (min-height 900px)
    margin 26px 0 140px 0

  @media (min-height 1000px)
    margin 28px 0 160px 0

svg
  margin 0 auto
  width 55px
  display block

  .foreground
    fill tint

.intro
  h1
    font-size 20px
    margin 15px 0 10px 0
    font-weight 600
    text-align center
    letter-spacing 0.02rem
