doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://s3.amazonaws.com/dtheng.com/modernizr.js")
    script(src="https://s3.amazonaws.com/dtheng.com/custom.modernizr.js")

  body
    .row.wrapper
      .small-1.hide-for-small.columns
        &#160;
      .small-1.hide-for-small.columns
        &#160;
      .large-8.medium-8.small-12.columns
        .row
          .small-4.columns
            &#160;
          .small-4.columns
            img(src="https://s3.amazonaws.com/dtheng.com/profile.jpg")
          .small-4.columns
            &#160;
        block content
      .small-1.hide-for-small.columns
        &#160;
      .small-1.hide-for-small.columns
        &#160;

script(type="text/javascript").
  var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-18339357-1']); _gaq.push(['_trackPageview']);
  (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
  