extend layout

block content
  .row.wrapper
    .small-1.hide-for-small.columns.
      &#160;
    .small-1.hide-for-small.columns.
      &#160;
    .large-8.medium-8.small-12.columns
      .row.resume
        .small-12.columns
            h1 Daniel Thengvall
            p I am a self-taught full-stack engineer living in San Francisco, currently a Senior Software Engineer at Wyre, previously worked for SnapCard and Rixty.
            br

            h2 Your Company
            span 2017
            p I&#39;m looking for a company in the financial technology/payments sector with passion for their product and an ambitious vision for the future.

            h2 Wyre, Inc.
            span 2016 - Present
            p Wyre is a next generation international money transfer company, supporting real-time payouts and remittances at a fraction of the cost of other methods. As a senior software engineer I worked to develop the user facing dashboard as well as administrative tools for the compliance and accounting teams.

            h2 SnapCard, Inc.
            span 2014 - 2016
            p SnapCard is a bitcoin payments company, focusing on providing tools for easy management and transfers at the best rate. As a senior software engineer I worked to add new currencies through integrations with third party exchanges. Being part of a growing company I wore many hats, from training new engineers to building mobile and web applications.

            h2 Rixty, Inc.
            span 2011 - 2014
            p Rixty is an alternative payment system focusing on customers without credit cards. As a lead developer I managed api integrations (Microsoft, Coinstar, Skrill), localized the platform for new countries like Brazil and build tools for the customer support team.
            br

            h2 Skills
            p Java, Javascript, TypeScript, Rxjava, RxJs, RxSwift, Objective-C, Swift, Android, MySQL, DynamoDB, Jooq, Google Guice, Angular, Pug (formerly Jade), LESS, Vertx, AWS, docker, Jackson Json, Node.js
            br

            a.resume(href="mailto:fender5289@gmail.com" target="_blank" onclick="_gaq.push(['_trackEvent', 'Links', 'Resume', 'Email link']);") fender5289@gmail.com
            br
            a.resume(href="https://github.com/DTHENG" target="_blank" onclick="_gaq.push(['_trackEvent', 'Links', 'Resume', 'Github link']);") github.com/DTHENG
            br
            a.resume(href="https://angel.co/daniel-thengvall" target="_blank" onclick="_gaq.push(['_trackEvent', 'Links', 'Resume', 'Angel List link']);") angel.co/daniel-thengvall
            br
            a.resume(href="https://lnkd.in/bD6S_7J" target="_blank" onclick="_gaq.push(['_trackEvent', 'Links', 'Resume', 'Linked in link']);") lnkd.in/bD6S_7J
            br
            br
            a.resume(href="https://github.com/DTHENG/resume/raw/master/DanielThengvallResume.pdf" target="_blank" onclick="_gaq.push(['_trackEvent', 'Links', 'Resume', 'PDF Download']);") PDF Version
            br
            br
            br
            p References available upon request

    .small-1.hide-for-small.columns.
      &#160;
    .small-1.hide-for-small.columns.
      &#160;
