* {
    -webkit-font-smoothing:antialiased;
}

.row.wrapper {
    max-width: 650px;
}

a {
    color: #2980b9;
    text-decoration: none;
    font-weight: 500;
}

a:hover, a:focus {
    color: #236f99;
}

.links-group a.link {
    width:100%;
    text-align:center;
    display:block;
    margin-bottom:40px;
}

.links-group .columns {
    padding: 0;
}

img {
    border-radius: 100%;
    padding: 6px;
    margin: 60px 0 0 0;
}

p {
    font-size:0.95rem;
    line-height:1.6rem;
}

button.success, .button.success {
    background-color: #669900;
    border-color:  #5a7f00;
}

button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    background-color: #5a7f00;
}

.download-resume {
    margin:0 auto;
    display:block;
    width:200px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

svg {   
    margin: 0 auto 8px auto;
    width: 55px;
    display:block;
}

svg .foreground {
    fill: #2980b9;
}

.intro h1 {
    font-size: 20px;
    margin: 40px 0 10px 0;
    font-weight: 500;
    text-align:center;
    
}

.intro p {
    margin: 30px 0;
}