a {
    color: #669900;
}

a:hover, a:focus {
    color: #5a7f00;
}

.links-group a {
    width:100%;
    text-align:center;
}

p {
    font-size:0.95rem;
}

button.success, .button.success {
    background-color: #669900;
    border-color:  #5a7f00;
}

button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    background-color: #5a7f00;
}

.download-resume {
    margin:0 auto;
    display:block;
    width:200px;
}